@model List<Student>

<h1>Student Home Page</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Gender</th>
    </tr>
    @foreach(Student s in Model)
    {
        <tr>
            <td>@s.Name</td>
            <td>@s.Address</td>
            <td>@s.Email</td>
            <td>@s.Dob</td>
            <td>@s.Gender</td>
        </tr>
    }
    
</table>
